<div id="feature">
  <div id=feature-inner">
    <div id="left-welcome">
      <div class="welcome-text">
        <h1>We are TrendVetter.</h1>
        <p>We create tools to help online retailers create a more personalized experence for their customers.</p> 
      </div> 
      <div id="form">
        <h4>
          <strong>Interested?</strong>
          Request a demo.
        </h4> 
      </div>
    </div>
  </div>
</div>  
