/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";

#top {
  width: 100%;
  background-color: #002235;
  height: 140px;
  border-bottom: 7px solid #7f6e24;
}

  #top #top-inner {
    width: 940px;
    margin: 0 auto;
  }

    #top #top-inner #logo {
      width: 366px;
      height: 64px;
      margin-top: 37px;
      float: left;
    }
